.bg{
    background-color:gray;
}
.navbar{
    padding: 0;
    
}
.navbar-toggler{
    box-shadow: none;
}


.c-item{
    height:750px;
    margin-top: 30px;
    
}
.c-img{
    height: 100%;
    object-fit: cover;
    filter:brightness(0.9);
}

.border-bottom{
    background-color:whitesmoke;
}
.container{
    background-color:white;
}
.container-lg {
    background-color:rgb(209, 200, 200);
}
.card{
	transition:  all 0.3s;
}
.card:hover {
    background-color: wheat;
	transform:scale(1.15);
} 
.container-lg{
	transition:  all 0.3s;
}
.container-lg:hover {
    background-color: wheat;
	transform:scale(1.15);
} 
.card{
    margin: 50px;
   border-radius:5px;
}
.section-header{
    margin: 30px;
    background-color:mediumslateblue;

